<div class="header">
	<ul class="nav nav-pills pull-right">
		<li class="{{ page.projects }}"><a href="/projects" title="Research Projects">Research Projects</a></li>
		<li class="{{ page.cv }}"><a href="/cv" title="CV">CV</a></li>
		<li class="{{ page.teaching }}"><a href="/teaching" title="Teaching">Teaching</a></li>
		<!--<li class="{{ page.life }}"><a href="/life" title="life">Life</a></li>-->
		<!--<li class="{{ page.blog }}"><a href="/blog" title="blog">Blog</a></li> -->
	</ul>
	<h3 class="text-muted"><a href="/">Maoran Xu</a></h3>
</div> <!-- /header -->
